body {
    margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}
h1 {
    font-size: 3.75rem;
    font-size: 60px;
}
h2 {
    font-size: 3rem;
    font-size: 48px;
}
h3 {
    font-size: 1.75rem;
    font-size: 28px;
}
.section-header h2 {
    padding-top: 1.5em;
	line-height: 0.75;
	letter-spacing: 3px;
    text-align: center;
	text-transform: uppercase;
}
ul {
    padding: 0;
}
.section-header p {
	color: #000c36;
font-size: 1em;
line-height: 3;
text-align: center;
	margin-top: 2em;
}
p.content-paragraph {
	color: #000c36;
font-size: 1em;
line-height: 2.25;

}
.section-header::after {
    border-top: 3px solid #00c1d1;
    content: "";
    display: block;
    margin: auto;
    margin-top: 3em;
    margin-bottom: 45px;
    max-width: 150px;
}
.wrapper > .flex {
    margin-bottom: 90px;
}
.flex-wrap {
	flex-wrap: wrap;
}
.primary-content {
    position: relative;
}
.text-bg {
    margin: auto;
    max-width: 992px;
    background-image: url("../img/recruitment-textBG.png");
    background-repeat: no-repeat;
    height: 100%;
    position: absolute;
    top: 0;
	left: 0;
	right: 0;
    width: 100%;
    z-index: -1;
}
.icon {
	display: block;
	width: 50px;
	height: 50px;
	margin: auto;
	text-align: center;
}
.content {
    background: rgba(0,0,0,0);
    top: 0;
    left: 0;
}
.bg-grey {
    background: rgba(0,0,0,0.025);
    width: 100%;
}
.wrapper {
    width: 90%;
    max-width: 992px;
    margin: auto;
    padding-bottom: 90px;
}
.wrapper.hidden {
    padding: 0;
}
.text-center {
    text-align: center;
}
.logo {
/*    position: absolute;*/
    z-index: 1;
    padding: 1rem 45px;
}
.main-menu {
    position: absolute;
    width: 100%;
	height: 87px;
	background-color: #ffffff;
	z-index: 999;
	-ms-align-items: center;
	align-items: center;
}

.menu-toggle {
    display: block;
    justify-self: flex-end;
    background: rgba(0,0,0,0);
    border: none;
}
.menu-toggle > div {
    width: 30px;
    height: 4px;
    margin-bottom: 4px;
    background: #303030;
}
.hamburger-menu {
    display: block;
    position: fixed;
    right: 0px;
    width: 0;
    height: 100vh;
    background: #f5f5f5;
    z-index: 1000;
    transition: width 0.5s, padding 0.5s;
    -webkit-transition: width 0.5s, padding 0.5s;
}
.hamburger-menu.toggled {
    padding: 2em;
    width: 100vw;
}
.hamburger-menu > .menu-toggle {
    margin-left: auto;
}
.hamburger-menu > .menu-toggle div {
    transition: transform 0.5s, opacity 0.5s;
}
.hamburger-menu > .menu-toggle div:nth-child(1) {
    transform-origin: 0% 0%;
}
.hamburger-menu > .menu-toggle div:nth-child(2) {
    opacity: 1;
}
.hamburger-menu > .menu-toggle div:nth-child(3) {
    transform-origin: 0% 100%;
}

.hamburger-menu.toggled > .menu-toggle div:nth-child(1) {
    transform: rotate(45deg);
}
.hamburger-menu.toggled > .menu-toggle div:nth-child(2) {
    opacity: 0;
}
.hamburger-menu.toggled > .menu-toggle div:nth-child(3) {
    transform: rotate(-45deg) translate(-3px,4px);
}

/* Navbar height:
background-color: #ffffff;
height: 87px;
*/
nav.menu {
/*    position: absolute;*/
    left: 0;
    right: 0;
	width: 100%;
    z-index: 9999;
}
nav ul {
    list-style: none;
    margin-left: 0;
    margin-bottom: 0;
}
nav.menu ul {
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
}
nav.menu ul > li {
    padding: 1em 0.5em;
}
nav.menu ul a {
	color: #00c1d1;
	text-decoration: none;
}
.feature-img {
    position: relative;
    height: 62.5vw; /* 620/992 */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.feature-img img {
    width: 100%;
}
.feature-img .lang-switcher {
	position: fixed;
	right: 2em;
	bottom: 54px;
	z-index: 10;
}
.page-title {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.3);
    color: #f5f5f5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
}
.site-footer {
    padding-top: 5em;
    background: #181818;
    color: #f5f5f5;
}
.site-footer p {
    line-height: 1.5;
}
.social-links > img {
    border-radius: 50%;
    margin: 1.5em 1.25em 0 1.25em;
}
.site-footer ul {
    list-style: none;
}
.flex {
    display: flex;
}
.f-w-6 {
    width: 50%;
}
.f-w-4 {
    width: 33%;
}
.f-w-3 {
    width: 25%;
}
.blog-thumbnail {
    display: block;
    margin: auto;
}
.blog-title {
	margin: 25px;
}
.entry-content {
	margin: 25px;
}
.recruit-thumbnail {
    display: block;
    margin: auto;
    border: 3px solid #00c1d1;
    border-radius: 20px;
}
.page-title h1 {
    padding: 1em;
    border: 3px solid #f5f5f5;
    border-radius: 20px;
}
.cta-btn {
    display: block;
    max-width: 190px;
    border: 3px solid #00c1d1;
    background-color: #ffffff;
    color: #00c1d1;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
    /* margin: 90px auto; */
    padding: 0.75em 0.5em;
    text-align: center;
    border-radius: 40px;
    box-shadow: #dadada 3px 3px 5px;
}
.cta-btn::after {
    content: ">";
    margin-left: 1em;
}
<<<<<<< HEAD
img.avatar {
    border: 3px solid #00c1d1;
    border-radius: 75px;
}
=======
.content-section {
	padding-top: 50px;
	padding-bottom: 50px;
}

/* Toggle Menu */


>>>>>>> 7a10a66d40e3465c4f1deec4123967cfc7fd0585
@media screen and (max-width: 768px){
    .text-bg {
        left: 0;
        right: 0;
    }
    .flex {
        flex-wrap: wrap;
    }
	.logo {
		padding: 0;
		width: 100%;
		height: 100%;
	}
	.logo > img {
		max-height: 100%;
	}
	.main-menu {
		height: 40px;
		z-index: 999;
		-ms-align-items: center;
		align-items: center;
		flex-wrap: nowrap;
	}
    nav.menu {
        display: none;
    }
    nav button {
        justify-self: flex-end;
    }
/*
    nav.menu ul {
        display: none;
    }
*/
	.feature-img {
		height: 60vh;
	}
    .f-w-3,
    .f-w-4,
    .f-w-6 {
        width: 100%;
    }
}
@media (max-width: 624px){
}
