.flex {
    display: flex;
    &.flex-wrap {
        flex-wrap: wrap;
    }
    @for $i from 1 to 13 {
        .f-w-#{$i} {
            width: $i / 12 * 100%;
        }
    }
    &.justify-end {
        justify-content: flex-end;
    }
    &.justify-center {
        justify-content: center;
    }
    &.align-center {
        align-items: center;
    }
    &.align-end {
        align-items: flex-end;
    }
    &.row-reverse {
        flex-direction: row-reverse;
    }
    &.flex-col {
        flex-direction: column;
    }
}
@media screen and (max-width: $screen__break-point-s){
    .flex {
        [class*="f-w"] {
            width: 100%;
        }
    }
}