h1, h2, h3, h4, h5, h6 {
	clear: both;
	color: $color__text-headings;
}
h1 {
	@include font-size(3.75);
}
h2 {
	@include font-size(3);
	&.footer-heading {
		@include font-size(1);
		color: $color__text-dark;
		text-align: center;
	}
}
h3 {
	@include font-size(1.75);
}